<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>About Me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
    	<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div>
						<h1 class="center-text">About Me</h1>
					</div>
				</div>
			</div>			
			<div class="col-xs-12">
				<div class="center-text">
					<p>
						<img alt="" src="https://pixy.org/images/placeholder.png" align="left" width="25%">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo lobortis sapien, sed ullamcorper mi finibus et. Pellentesque tempor metus at lacinia suscipit. Duis porta vel neque eget sagittis. Vivamus venenatis massa a urna congue, ut ultrices dolor semper. Nam at malesuada eros. Morbi auctor nisi a lorem rhoncus posuere. Donec imperdiet nec nulla et mollis. Vivamus non nulla ac lorem vestibulum convallis. Nam finibus libero nec tortor aliquet blandit. Mauris tincidunt tortor nec purus porttitor, vitae congue ligula interdum. Sed et pellentesque quam. Donec dolor dolor, commodo id interdum id, pulvinar ac turpis.

						Mauris dignissim nibh magna, sit amet eleifend dui semper non. Integer facilisis arcu sodales mauris pulvinar, ac cursus ipsum ullamcorper. Phasellus rhoncus lectus eu mauris tincidunt tempor. Nam ultricies, lacus at consequat lobortis, justo magna vehicula nibh, ut fermentum ex augue non nisi. Nam maximus tempor cursus. Mauris sit amet pulvinar orci. Praesent posuere tellus nunc, a iaculis tortor dignissim dictum. Curabitur eros diam, rutrum mollis libero nec, sagittis accumsan arcu. Praesent sit amet nibh mattis, sollicitudin metus eget, posuere massa. Quisque sodales elementum diam, sed pellentesque nisi sollicitudin quis. Praesent vel accumsan turpis, ut iaculis turpis. Mauris ac nunc in dui eleifend auctor et eu sapien. Sed sed lectus elit. Morbi euismod arcu et justo ullamcorper, non vestibulum nisl convallis.
						
						Donec non felis vitae libero elementum ornare. Mauris auctor augue vel tellus viverra, et efficitur diam faucibus. Pellentesque ipsum sem, pellentesque a vestibulum sed, posuere ut nunc. Nullam lacinia a lorem vel cursus. Nullam in pellentesque ex. Aenean vulputate commodo facilisis. Suspendisse nec tincidunt arcu, id consectetur mauris.
						
						Suspendisse accumsan fringilla eros, at efficitur purus suscipit non. Donec commodo varius dapibus. Proin placerat tincidunt tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eget est eget sem dictum ornare non vitae tortor. Aenean consequat cursus nunc eget lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris iaculis auctor libero et luctus. Sed eu malesuada leo, ac vehicula augue. Duis porta, lectus quis molestie mollis, dui tellus faucibus quam, id ultricies est ligula ac tortor. Sed elementum velit in est tristique, at ornare eros consequat. Aliquam finibus congue sem, a facilisis lacus. Donec consequat elementum ligula sed lacinia. Donec molestie nisi in sagittis vestibulum. Nulla fringilla mattis ipsum, eleifend gravida ligula sagittis at. Quisque auctor, risus in accumsan convallis, mi mi sodales nulla, id sagittis sem odio a velit.
						
						Nullam egestas, massa fringilla accumsan gravida, nunc ante vehicula elit, eu scelerisque leo ipsum ac arcu. Vestibulum vitae sapien justo. Etiam eget magna id lacus volutpat imperdiet ut et magna. Aliquam erat volutpat. Maecenas in metus tortor. Quisque gravida aliquam aliquet. Ut auctor velit arcu, quis facilisis ipsum fermentum nec. Curabitur consequat urna at augue egestas, a fermentum urna molestie. Suspendisse gravida tincidunt nibh, nec pharetra dolor sollicitudin sit amet. Aenean lobortis malesuada enim, ac luctus metus.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>