<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
    	<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div>
						<h1 class="center-text">My Projects</h1>
					</div>
				</div>
			</div>			
			<div class="col-md-4">
				<div class="project-box"></div>
				<div class="center-text">
					<a href="" class="center-text">Project Name</a>
				</div>
				<div class="center-text">Short Description</div>
			</div>
			<div class="col-md-4">
				<div class="project-box"></div>
				<div class="center-text">
					<a href="" class="center-text">Project Name</a>
				</div>
				<div class="center-text">Short Description</div>
			</div>
			<div class="col-md-4">
				<div class="project-box"></div>
				<div class="center-text">
					<a href="" class="center-text">Project Name</a>
				</div>
				<div class="center-text">Short Description</div>
			</div>
		</div>
	</body>
</html>